<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
</head>
<body>
    <H1>Welcome to PetFax</H1>
    {% for pet in pets %}
        <div class="pet">
            <H2>{{ pet.pet_name }}</H2>
            <img src="{{ url_for('static', filename='assets/') }}{{pet.pet_photo}}"/>
            <a href="/main/{{ pet.pet_id }}">For Fun Facts, Click Here!</a>
        </div>
    {% endfor %}
</body>
</html>